.App {
  text-align: center;
}
.logo {
  width:25%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  justify-content: center;
}

/* .wrapper {
  padding: 20px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  background-color: #fefae0;
  font-family: Bebas Neue;
  color: #FEFAE0;
}

.workouts-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #606C38;
  border-radius: 5px;
  font-size: 24px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 10px #93987c;
}
.error {
  width: 50%;
  height: 50%;
}

.button-container {
  display: flex;
  justify-content: space-between;
 
}


.sign-up-button {
  display: flex;
  justify-content: right;
  align-items: center;

}

.log-in-button {
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: bold;
  
 
  
  

}
.login-form {
  padding: 20px;
 
}
  


.sign-up-form {
  padding: 20px;
}

.card-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #606C38;
  
}

.login-card {
  width: 400px;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  align-content: center;
  justify-content: center;
  align-items: center;
}

.sign-card-container {
  display: inline-block;
  justify-content: right;
  align-items: center;
  height: 100vh;
  background-color: #606C38;
  
}

.sign-up-card {
  width: 400px;
  height: auto;
  max-width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  
}

.error {
  width: 25%;
  height: 25%;
  align-items: center;
}

h1 {
  font-family: Bebas Neue;
  color: #0000
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: black;
  text-align: center;
}

h3 {
  color: black;
  text-align: center;
}

p {
  color: black;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
